openapi: 3.2.0
info:
  title: Tabs Platform Usage Events API
  description: The Tabs Platform API is the public REST API for Tabs (tabs.inc), an AI-native revenue automation platform for B2B companies that unifies billing, collections, ASC 606 revenue recognition, and reporting on top of a contract-driven data model.
  version: '1.0'
  contact:
    name: Tabs
    url: https://tabs.inc
  x-endpointsModeled: true
servers:
- url: https://api.tabsplatform.com
  description: Tabs Platform production API
security:
- apiKeyAuth: []
tags:
- name: Usage Events
  description: Consumption records that feed usage-based and metered billing.
paths:
  /usage-events:
    get:
      operationId: listUsageEvents
      tags:
      - Usage Events
      summary: List usage events
      responses:
        '200':
          description: A list of usage events.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UsageEvent'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createUsageEvent
      tags:
      - Usage Events
      summary: Create a usage event
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsageEvent'
      responses:
        '201':
          description: The created usage event.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageEvent'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /usage-events/{eventId}:
    parameters:
    - name: eventId
      in: path
      required: true
      schema:
        type: string
    delete:
      operationId: deleteUsageEvent
      tags:
      - Usage Events
      summary: Delete a usage event
      responses:
        '204':
          description: Usage event deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    UsageEvent:
      type: object
      properties:
        id:
          type: string
        customerId:
          type: string
        eventType:
          type: string
        quantity:
          type: number
        timestamp:
          type: string
          format: date-time
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API key passed directly in the Authorization header (Authorization: YOUR_API_KEY). Keys are created in the Developers section of the Tabs app and require administrator privileges.'
