openapi: 3.2.0
info:
  title: Tabs Platform Obligations API
  description: The Tabs Platform API is the public REST API for Tabs (tabs.inc), an AI-native revenue automation platform for B2B companies that unifies billing, collections, ASC 606 revenue recognition, and reporting on top of a contract-driven data model.
  version: '1.0'
  contact:
    name: Tabs
    url: https://tabs.inc
  x-endpointsModeled: true
servers:
- url: https://api.tabsplatform.com
  description: Tabs Platform production API
security:
- apiKeyAuth: []
tags:
- name: Obligations
  description: Commitments linked to GL items that generate invoice line items.
paths:
  /contracts/{contractId}/obligations:
    parameters:
    - $ref: '#/components/parameters/ContractId'
    get:
      operationId: listContractObligations
      tags:
      - Obligations
      summary: List obligations for a contract
      responses:
        '200':
          description: A list of obligations.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Obligation'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createContractObligation
      tags:
      - Obligations
      summary: Create an obligation on a contract
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Obligation'
      responses:
        '201':
          description: The created obligation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Obligation'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /obligations:
    get:
      operationId: listObligations
      tags:
      - Obligations
      summary: List obligations
      responses:
        '200':
          description: A list of obligations.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Obligation'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
    Obligation:
      type: object
      description: A commitment linked to a GL item that generates invoice line items.
      properties:
        id:
          type: string
        contractId:
          type: string
        itemId:
          type: string
        amount:
          type: number
        currency:
          type: string
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
  parameters:
    ContractId:
      name: contractId
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API key passed directly in the Authorization header (Authorization: YOUR_API_KEY). Keys are created in the Developers section of the Tabs app and require administrator privileges.'
